
html {
    font-size: 1rem;
}

body {
    @apply text-base font-sans;
    font-style: normal;
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 0;
}

.wrapper {
    @apply mr-auto ml-auto pr-8 pl-8;
    max-width: 1014px;
}

.wrapper-inner {
    @apply text-center m-auto;
    max-width: 343px;
}

.providers {
    max-width: 408px;
}

.social {
    max-width: 164px;
}

.modal-inner {
    @apply relative w-auto my-6 mx-auto max-w-sm text-center;
    max-width: 342px;
}
