/* Buttons */
.btn {
    @apply relative text-2xl font-sans font-semibold;
}

.pager {
    @apply inline-block border border-black;
    padding: 4px 14px 5px;

    &:hover {
        @apply text-white bg-orange-2 border-orange-2 cursor-pointer;
    }

    &.next,
    &.next:visited,
    &.next:active {
        @apply text-white bg-orange-1 border-orange-1;
    }

    &.next:hover {
        @apply text-white bg-orange-2 border-orange-2;
    }

    &.back:visited,
    &.back:active {
        @apply bg-white text-black border-black;
    }

    &.next.disabled,
    &.back.disabled {
        @apply bg-white text-grey-3 border-grey-3 border-solid cursor-default pointer-events-none;
    }

    &.next.disabled i,
    &.back.disabled i {
        @apply text-grey-3;
    }
}


.btn-quote-basis {
    @apply mb-3;

    svg {
        top: 21px;
        left: 2.5rem;
    }

    svg path {
        fill: #000;
    }

    &:hover svg path {
        fill: #fff;
    }

    input {
        @apply relative bg-yellow-1 border-black border-2 text-2xl font-sans font-semibold pr-10 pl-10 z-10;
        padding-top: 21px;
        padding-bottom: 22px;
        appearance: none;
    }

    input:visited {
        background-image: linear-gradient(90deg, #0A76BD 6%, #4AACEE 96%);
        border-color: theme('colors.blue-2');
    }

    input:hover {
        @apply text-white border-blue-2;
        background-image: linear-gradient(90deg, #0A76BD 6%, #4AACEE 96%);
        cursor: pointer;
    }
}
