
.btn {
    @apply relative cursor-pointer;

    &.pager {
        @apply inline-block border border-black;
        padding: 4px 14px 5px;
    }

    &.pager:hover {
        @apply text-white bg-orange-2 border-orange-2;
    }

    &.pager.next,
    &.pager.next:visited,
    &.pager.next:active {
        @apply text-white bg-orange-1 border-orange-1;
    }

    &.pager.next:hover,
    &.pager.next.visited {
        @apply text-white bg-orange-2 border-orange-2;
    }

    &.pager.back:visited,
    &.pager.back:active {
        @apply bg-white text-black border-black;
    }

    &.pager.next.disabled,
    &.pager.back.disabled {
        @apply bg-white text-grey-3 border-grey-3 border-solid cursor-default pointer-events-none;
    }

    &.pager.next.disabled i,
    &.pager.back.disabled i {
        @apply text-grey-3;
    }
}

.btn-quote-basis {
    @apply mb-3;
}

.btn-quote-basis svg path  {
    fill: #000;
}

.btn-quote-basis:hover svg path,
.btn-quote-basis input:checked + label svg path {
    fill: #fff;
}

.btn-quote-basis input,
.btn-quote-basis label,
.btn-submit input {
    @apply relative bg-yellow-1 border-black border-2 text-black text-center text-2xl font-sans font-semibold outline-none pr-10 pl-10 z-10 cursor-pointer;
    padding-top: 21px;
    padding-bottom: 22px;
    appearance: none;
}

.btn-submit input {
    @apply text-white bg-orange-1 border-orange-1
}

.btn-submit input:hover {
    @apply bg-orange-2 border-orange-2;
}

.btn-quote-basis input:checked + label {
    @apply border-blue-2 text-white;
    background-image: linear-gradient(90deg, #0A76BD 6%, #4AACEE 96%);
}

.btn-quote-basis:hover input + label {
    @apply text-white border-blue-2;
    background-image: linear-gradient(90deg, #0A76BD 6%, #4AACEE 96%);
}

.btn-quote-basis input {
    @apply absolute w-full h-full left-0 opacity-0 z-10 cursor-pointer;
}

.btn-quote-basis label {
    z-index: -1;
}
