label {
    @apply block text-xl font-bold text-blue-2 text-left mb-2;
}

select,
input[type="text"] {
    border-radius: 5px;
    appearance: none;
}

.selector {
    @apply relative;
}

.selector svg {
    @apply absolute pointer-events-none;
    right: 1.25rem;
}

.selector.lg select,
.selector.lg div[class*="control"] {
    @apply block w-full text-2xl border-blue-1 border-2 pr-5 pl-5;
    padding-top: 21px;
    padding-bottom: 22px;
    box-shadow: 0 0 16px rgba(74, 172, 238, 0.3);
}

.selector.lg div[class*="control"] {
    padding: 19px 1.25rem 20px;
}

.selector input[type="text"]:focus {
    box-shadow: none;
}

input[type="text"],
.selector.sm select,
.selector div[class*="control"] {
    @apply block w-full text-base border-black border pr-4 pl-4;
    padding-top: 17px;
    padding-bottom: 18px;
}

.selector div[class*="control"] {
    padding: 11px 1rem 12px;
}

.selector div[class*="ValueContainer"],
.selector div[class*="control"] > div {
    padding: 0;
}

.selector div[class*="control"] > div > div {
    margin: 0;
}

.selector div[class*="menu"] {
    text-align: left;
}

input[type="text"]:focus,
.selector select:focus {
    @apply border-blue-1 outline-none;
    box-shadow: 0 0 0 1px theme('colors.blue-1');
}

.selector.lg svg {
    top: 2rem;
}

.selector.sm svg {
    top: 1.25rem;
}

.populated,
.populated select {
    @apply bg-blue-3;
}

input[type="text"].error,
.selector select.error {
    @apply bg-pink border-red;
    box-shadow: 0 0 0 1px theme('colors.pink');
}

input#stayInformed + label::before {
    @apply absolute top-0 left-0 bg-blue-3 border-2 border-blue-1;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

input#stayInformed + label svg {
    @apply absolute top-0 left-0 opacity-0;
    margin: 5px;
}

input#stayInformed:checked + label::before {
    @apply bg-blue-1;
}

input#stayInformed:checked + label svg {
    opacity: 1;
}
